extends ../layout

block content

	nav(class='navbar navbar-inverse navbar-fixed-top')
		div(class='container-fluid')
			div(class='navbar-header')
				button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#mynavbar')
					span(class='icon-bar')
					span(class='icon-bar')
					span(class='icon-bar')
				a(class='navbar-brand' href='/') searchfree 
			div(class='collapse navbar-collapse' id='mynavbar')
				ul(class='nav navbar-nav')
					li
						a(href='/') Home
					li(class='active')
						a(href='/search') Search
					li
						a(href='/about') About
					li
						a(href='/donate') Donate
					li
						a(href='/gettheapp') Get the app

	div(class='container')
		h1= title

	div(class='container')
		div(class='panel panel-primary')
			div(class='panel-heading') Map search:
				
			div(class='panel-body')
				div
					input(name='input_search_address_locked' id='input_search_address_locked' placeholder='GPS' disabled)
					input(name='input_search_term_local' id='input_search_term_local' placeholder='Search term')
					<br>
					input(type='button' name='button_search_local' id='button_search_local' value='Search')
					
			div(class='panel-footer')
				p(class='item_details') Search again in the local area.

	div(class='panel panel-primary')
		div(class='panel-heading') Map results:
			
		div(class='panel-body')
			div
				div(id='map_container' style='width:100%;height:700px')
				
		div(class='panel-footer')
			p(class='item_details') The results of your search for this area are shown above.

		
		
	script.
		var search_address = window.location.href;
		var the_lat = #{the_lat};
		var the_lng = #{the_lng};
		var the_search = "#{the_search}";

	script(src='/javascripts/searchfreemapsearch.js')

	div(class='container')
		div(class='panel panel-primary')
			div(class='panel-heading') Table results:
				
			div(class='panel-body')
				div(class='row')
					each val in items
						div(class='col-sm-4')
							div(class='panel panel-primary')
								div(class='panel-heading')
									a(href=val.url target='_blank' class='panel_link')=val.item
								div(class='panel-body')
									div(class='img_grid container-fluid text-center')
										if val.thumbnail
											img(src='#{val.thumbnail}')
									div(class='item_description') #{val.description}
										
								div(class='panel-footer')
									p(class='item_details') &nbsp;#{moment(val.postdata).fromNow()} &nbsp;-&nbsp; #{moment(val.postdata).format("DD-MM-YYYY HH:mm")} &nbsp;-&nbsp; #{val.googleAddress}

		

	footer(class='container-fluid text-center')
		p searchfree.top © 2017 Darren Dignam